<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONFIRM PASSWORD</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <center><b>{{ message }}</b></center>
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
    <p>enter new-password and confirm password below</p>
    <form method="post">
        <label for="newp">new-password</label>
        <input id="newp" type="password" name="npassword" placeholder="new password" required>
        <label for="conp">confirm-password</label>
        <input id="conp" type="password" name="cpassword" placeholder="confirm password" required>
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>